.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@font-face {
    font-family: 'Young Serif';
    src: url('fonts/YoungSerif-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.ttf');
    font-weight: 400;
}

/* The colors need some attention */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px 16px;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
    gap: 20px;
}

.card {
    max-width: 700px;
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 24px;
}

h1 {
    font-family: "Young Serif", serif;
    font-size: 2.5rem;
    margin: 0 0 16px 0;
    color: hsl(24, 5%, 18%);
}

h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    margin-top: 32px;
    margin-bottom: 16px;
}

p {
    line-height: 1.6;
    font-size: 16px;
}

.prep {
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 12px;
    margin: 24px 0;
}

    .prep h3 {
        color: hsl(332, 51%, 32%);
        margin-bottom: 12px;
    }


    ul,
    ol {
        padding-left: 20px;
    }


    ul li,
    ol li {
        margin-bottom: 8px;
    }


    ul li::marker {
        color: hsl(14, 45%, 36%);
    }


    ol li::marker {
        font-weight: 700;
        color: hsl(14, 45%, 36%);
    }


    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 16px;
    }


    td {
        padding: 12px 0;
        border-bottom: 1px solid hsl(30, 18%, 87%);
    }


    tr:last-child td {
        border-bottom: none;
    }


    td:last-child {
        font-weight: 700;
        color: hsl(14, 45%, 36%);
    }


    @media (max-width: 600px) {
        .card {
            padding: 24px;
        }


        h1 {
            font-size: 2rem;
        }
    }